<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="UnrealScript Editor"
            extensions="uc"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="patrick_vane_unrealscript_editor.editors.UnrealScriptEditor"
            id="patrick_vane_unrealscript_editor.editors.UnrealScriptEditor">
      </editor>
   </extension>
   
   
   <extension
	      id="patrick_vane_unrealscript_editor.markers.error"
	      name="UnrealScript Syntax Problem"
	      point="org.eclipse.core.resources.markers">
	   <super
	         type="org.eclipse.core.resources.problemmarker">
	   </super>
	   <persistent
	         value="false">
	   </persistent>
	</extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspective"
            icon="icons/sample.gif"
            id="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspective"
            name="UnrealScript">
      </perspective>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="UDK"
            id="patrick_vane_unrealscript_editor.editors.commandcategory.udk">
      </category>
      <command
            categoryId="patrick_vane_unrealscript_editor.editors.commandcategory.udk"
            defaultHandler="patrick_vane_unrealscript_editor.editors.perspective.handlers.ImportProject"
            description="Import UDK Project"
            id="patrick_vane_unrealscript_editor.editors.command.import_project"
            name="Import UDK Project">
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="patrick_vane_unrealscript_editor.editors.menu.udk"
               label="UDK"
               tooltip="Unreal Development Kit">
            <command
                  commandId="patrick_vane_unrealscript_editor.editors.command.import_project"
                  mnemonic="">
            </command>
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="patrick_vane_unrealscript_editor.editors.perspective.definition.isUdkPerspectiveActive">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="patrick_vane_unrealscript_editor.editors.toolbar.udk"
               label="UDK">
            <command
                  commandId="patrick_vane_unrealscript_editor.editors.command.import_project"
                  icon="icons/sample.gif"
                  style="push"
                  tooltip="Import UDK Project">
               <visibleWhen
                     checkEnabled="true">
                  <reference
                        definitionId="patrick_vane_unrealscript_editor.editors.perspective.definition.isUdkPerspectiveActive">
                  </reference>
               </visibleWhen>
            </command>
          </toolbar>
       </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspectiveTester"
            id="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspectiveTester"
            namespace="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspectiveTester"
            properties="isUdkPerspectiveActive"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
   
   <extension point="org.eclipse.core.expressions.definitions">
	  <definition id="patrick_vane_unrealscript_editor.editors.perspective.definition.isUdkPerspectiveActive">
	    <with variable="activeWorkbenchWindow.activePerspective">
	      <test
	        forcePluginActivation="true"
	        property="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspectiveTester.isUdkPerspectiveActive">
	      </test>
	    </with>
	  </definition>
   </extension>
   
   
</plugin>
