<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="UnrealScript Editor"
            extensions="uc"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="patrick_vane_unrealscript_editor.editors.UnrealScriptEditor"
            id="patrick_vane_unrealscript_editor.editors.UnrealScriptEditor">
      </editor>
   </extension>
   
   <extension
	      id="patrick_vane_unrealscript_editor.markers.error"
	      name="UnrealScript Syntax Problem"
	      point="org.eclipse.core.resources.markers">
	   <super
	         type="org.eclipse.core.resources.problemmarker">
	   </super>
	   <persistent
	         value="false">
	   </persistent>
	</extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspective"
            icon="icons/sample.gif"
            id="patrick_vane_unrealscript_editor.editors.perspective.UnrealScriptPerspective"
            name="UnrealScript">
      </perspective>
   </extension>
	
	
   
</plugin>
